<div class="m-4 container">
  <div class="row">
    <div class="my-2">
      <button routerLink="/add-patient" class="btn btn-success">Add Patient</button>
      <button  routerLink="/add-guardian" class="btn btn-success mx-4" >Add Guardian</button>
      <button  routerLink="/guardian" class="btn btn-primary"  >Show List of Guardian</button>
    </div>
  </div>
  <div>
    <table class="table table-striped">

      <thead class="table-primary">
      <tr>
        <th colspan="6" class="fs-4">List of Patients</th>
      </tr>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Memory Care</th>
        <th scope="col">Guardian</th>
        <th scope="col">Actions</th>


      </tr>
      </thead>
      <tbody *ngFor="let data of patient; let i = index" >
      <tr>
        <th scope="row">{{i+1}}</th>
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.memoryCare}}</td>
        <td>{{data.guardians}}</td>
        <td>
          <a class="mx-2"><i class="bi bi-pencil-square" style="color: #ffc107" routerLink="/update-patient/{{data.id}}/update-guardian"></i></a>
          <a class="mx-2"><i class="bi bi-trash" style="color: #e34724" (click)="deleteById(data.id)"></i> </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<router-outlet></router-outlet>
